.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #1abc9c, #2c3e50);
}

.login-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: 600;
}

.login-card input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #1abc9c, #3498db);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-text span {
  color: #3498db;
  cursor: pointer;
}